<div fxLayoutAlign="center center" fxFlexFill>


    <mat-card fxFlex="70">

        <form #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)">
            <br><br> <br><br>

            <mat-toolbar class="b" fxLayoutAlign="center center">Cadastro Serviços </mat-toolbar>
            <br><br>
            <br><br>
            <mat-form-field class="example-full-width">
                <mat-label>Descrição</mat-label>
                <input fxLayoutAlign="center center" name="descricao" ngModel matInput placeholder="Descrição do serviços">
            </mat-form-field>

            <br><br>
            <mat-form-field class="example-full-width ">
                <mat-label>Valor</mat-label>
                <input fxLayoutAlign="center center" ngModel name="valor" matInput placeholder="Valor">
            </mat-form-field>

            <input type="file" (change)="inputfoto($event)" name="foto" id="foto">

            <br><br>
            <div fxLayoutAlign="center center"> <button mat-raised-button type="submit" color="primary"><i class="material-icons">save</i>Salvar</button></div>
        </form>

    </mat-card>
</div>