.sidenav {
    background-color: #EEE8AA;
    width: 200px;
}

.sidenav a {
    color: black;
}

.sidenav i {
    color: black;
    padding-right: 10px;
}

.contet {
    padding: 16px;
    background-color: #FFF;
}