<div fxLayoutAlign="center center" fxFlexFill>


    <mat-card fxFlex="70">

        <form #userPost="ngForm" (ngSubmit)="onSubmit()">
            <br><br> <br><br>

            <mat-toolbar class="b" fxLayoutAlign="center center">Seus Dados</mat-toolbar>
            <br><br>
            <br><br>
            <mat-form-field class="example-full-width">
                <mat-label>Nome</mat-label>
                <input fxLayoutAlign="center center" id="nome" matInput placeholder="Nome">
            </mat-form-field>

            <br><br>
            <mat-form-field class="example-full-width ">
                <mat-label>cpf</mat-label>
                <input fxLayoutAlign="center center" id="cpf" matInput placeholder="cpf">
            </mat-form-field>



            <br><br>
            <mat-form-field class="example-full-width">
                <mat-label>email</mat-label>
                <input fxLayoutAlign="center center" matInput id="email" placeholder="email">
            </mat-form-field>



            <br><br>
            <mat-form-field class="example-full-width">
                <mat-label>senha</mat-label>
                <input type="password" fxLayoutAlign="center center" matInput id="senha" placeholder="senha">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Telefone</mat-label>
                <input type="number" fxLayoutAlign="center center" matInput id="telefone" placeholder="telefone">
            </mat-form-field>



            <mat-toolbar class="b" fxLayoutAlign="center center">Endereço</mat-toolbar>
            <br><br>

            <br><br>
            <mat-form-field class="example-full-width">
                <mat-label>Numero</mat-label>
                <input type="number" fxLayoutAlign="center center" matInput id="numero" placeholder="Numero">
            </mat-form-field>





            <br><br>
            <mat-form-field class="example-full-width">
                <mat-label>rua</mat-label>
                <input fxLayoutAlign="center center" id="rua" matInput placeholder="rua">
            </mat-form-field>

            <br><br>
            <mat-form-field class="example-full-width ">
                <mat-label>bairro</mat-label>
                <input fxLayoutAlign="center center " id="bairro" matInput placeholder="bairro ">
            </mat-form-field>


            <br><br>
            <mat-form-field class="example-full-width ">
                <mat-label>cidade</mat-label>
                <input fxLayoutAlign="center center " id="cidade" matInput placeholder="cidade ">
            </mat-form-field>

            <br><br>
            <mat-form-field class="example-full-width ">
                <mat-label>uf</mat-label>
                <input fxLayoutAlign="center center " id="uf" matInput placeholder="uf ">
            </mat-form-field>


            <br><br>
            <mat-form-field class="example-full-width ">
                <mat-label>cep</mat-label>
                <input fxLayoutAlign="center center " id="cep" matInput placeholder="cep ">
            </mat-form-field>

            <br><br>
            <mat-form-field class="example-full-width ">
                <mat-label>complemento</mat-label>
                <input fxLayoutAlign="center center " id="complemento" matInput placeholder="complemento ">
            </mat-form-field>

            <br>

            <div fxLayoutAlign="center center"> <button mat-raised-button color="primary"><i class="material-icons">reply</i>Voltar</button>
                <button mat-raised-button type="submit" color="primary"><i class="material-icons">save</i>Salvar Alteraçoes</button>
                <button mat-raised-button routerLink="/listarAnimal" color="primary"><i class="material-icons">library_books</i> Listar animais</button>
            </div>
            <br><br>

        </form>



    </mat-card>



</div>