.example-full-width {
    width: 100%;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

input {
    width: 150px
}

button {
    margin: 0px 4px 0px 0px;
}

i {
    margin: 0px 0px 5px 0px;
}