<mat-card class="pergunta mat-elevation-z3">

    <mat-card-title fxLayoutAlign="center center" class="title">


        Cadastro de Produtos, Serviços, Animais e atendimentos

    </mat-card-title>

    <br>
    <mat-card-subtitle fxLayoutAlign="center center" class="subtitle">


        Escolha o que você deseja cadastrar

    </mat-card-subtitle>

</mat-card>

<div fxLayoutAlign="center center" fxFlexFill>



    <mat-card fxLayoutAlign="center center" class="card" fxFlex="70">


        <mat-form-field routerLink="/cadastroprodutos" class="example-full-width">
            <i class="material-icons">shopping_basket</i>
            <h1>produtos</h1>

        </mat-form-field>


        <mat-form-field routerLink="/cadasservicos" class="example-full-width">
            <i class="material-icons">local_hospital</i>
            <h1>Serviço</h1>
        </mat-form-field>


        <mat-form-field routerLink="/castroanimal" class="example-full-width">
            <i class="material-icons">pets</i>
            <h1>Animal</h1>
        </mat-form-field>

        <mat-form-field routerLink="/atendimento" class="example-full-width">
            <i class="material-icons">pending_actions</i>
            <h1>atendimento</h1>
        </mat-form-field>


    </mat-card>

</div>