<div class="card">

    <div class="card-header">

        <div class="float-left">
            <h4>Historico de atendimentos</h4>
        </div>



    </div>


    <div class="card-bady">


        <table id="minhaTabela" class="table table-hover">

            <thead>
                <tr>
                    <th>id consulta</th>
                    <th>Data do atendimento</th>

                    <th>Data do cadastro da consulta</th>
                    <th>Tipo de Serviço</th>

                    <th>id do animal</th>
                    <th>id do cliente</th>



                </tr>


            </thead>
            <tbody id="tabela">












            </tbody>


        </table>

    </div>




</div>