<div fxLayoutAlign="center center" fxFlexFill>


    <mat-card fxFlex="70">

        <form #userPost="ngForm" (ngSubmit)="onSubmit()">
            <br><br> <br><br>

            <mat-toolbar class="b" fxLayoutAlign="center center">Cadastro Produto </mat-toolbar>
            <br><br>
            <br><br>
            <mat-form-field class="example-full-width">
                <mat-label>Descrição</mat-label>
                <input fxLayoutAlign="center center" id="descricao" matInput placeholder="Descrição do Produto">
            </mat-form-field>

            <br><br>
            <mat-form-field class="example-full-width ">
                <mat-label>Valor</mat-label>
                <input fxLayoutAlign="center center" id="valor" matInput placeholder="Valor">
            </mat-form-field>

            <div class="custom-file">
                <input type="file" (change)="onChange($event)" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile" id="fil">Choose file</label>
            </div>

            <br><br>
            <div fxLayoutAlign="center center"> <button mat-raised-button type="submit" color="primary" [disabled]="!selectedFile"><i class="material-icons">save</i>Salvar</button></div>
        </form>

    </mat-card>
</div>